<!-- Loop over each object in the post array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-12 post-item">
    <h2>
      {{post.title}}
    </h2>
    <p style="font-weight: 500;">Created by {{post.user.user_name}} on {{format_date post.date_created}}</p>
    <p>{{post.content}}</p>
    <a href="/comment" class="small green button new-comment-form">Comment</a>
  </div>
  {{#each post.comments as |comment| }}
  <div class="col-md-10 comment-item">{{comment.comment}}</div>
  {{/each}}
</div>
{{/each}}
